<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <% title = render_existing(@view_module, "title", assigns) %>
    <title><%= if title, do: "#{title} - ", else: "Dashboard - " %>Statuspal</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
    <link rel="shortcut icon" href="<%= static_path(@conn, "/images/statushq-logo.png") %>">
    <%= render StatushqWeb.SharedView, "ga_code.html" %>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="header navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link to: if(@conn.assigns[:status_page], do: admin_status_page_path(@conn, :show, @status_page), else: "/admin"),
              class: "navbar-brand" do %>
              <%= img_tag("/images/statushq-logo.png") %>
              Statuspal
            <% end %>
            <%= with_pro do: render_pro_items(assigns, "xs") %>
          </div>

          <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link "Account (#{Coherence.current_user(@conn).name || Coherence.current_user(@conn).email |> String.split("@") |> hd()})",
                    to: admin_user_path(@conn, :edit) %>
              </li>
              <li><%= link "Logout", to: session_path(@conn, :delete), method: :delete %></li>
            </ul>
          </div>
          <%= with_pro do: render_pro_items(assigns, "lg") %>
        </div>
      </nav>

      <%= render_existing @view_module, "subheader.html", assigns %>

      <div class="container">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <%= render StatushqWeb.Admin.LayoutView, "invitations.html", assigns %>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>

    </div> <!-- /container -->
    <%= render StatushqWeb.SharedView, "footer.html" %>
    <script src="<%= static_path(@conn, "/js/admin.js") %>"></script>
    <%= if WithPro.pro?(), do: render StatushqProWeb.SharedView, "cookies.html" %>
  </body>
</html>
