[submodule "apps/statushq_pro"]
	path = apps/statushq_pro
	url = git@gitlab.com:messutied/statushq_pro.git
[submodule "apps/statushq_monitor"]
	path = apps/statushq_monitor
	url = git@gitlab.com:messutied/statushq_monitor.git
