<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= Application.get_env(:statushq, :content)[:description] %>">
    <meta name="author" content="Statuspal">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="shortcut icon" href="<%= static_path(@conn, "/images/statushq-logo.png") %>">

    <title><%= Application.get_env(:statushq, :content)[:title] %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= WithPro.pro?() && if Application.get_env(:statushq, :recaptcha) &&
      String.length(Application.get_env(:statushq, :recaptcha)[:site_key]) > 0 do %>
      <script src='https://www.google.com/recaptcha/api.js'></script>
    <% end %>
    <%= render StatushqWeb.SharedView, "ga_code.html" %>
  </head>

  <body class="front-site auth">
    <div class="container-fluid">
      <div class="header clearfix">
        <div class="container">
          <div class="brand-name-container">
            <a href="/">
              <%= img_tag "/images/statushq-logo-white.png", alt: "Brand Logo" %>
              Statuspal
            </a>
          </div>
          <div class="right-menu">
            <%= link "Login", to: session_path(@conn, :new) %>
            <%= link "Signup", to: registration_path(@conn, :new) %>
          </div>
        </div>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->

    <%= render StatushqWeb.SharedView, "footer.html" %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= if WithPro.pro?(), do: render StatushqProWeb.SharedView, "cookies.html" %>
  </body>
</html>
