<h3 class="text-center">New <%= if @conn.params["maintenance"] === "true", do: 'Maintenance', else: "Incident" %></h3>

<%= render "form.html", changeset: @changeset, activity_types: @activity_types, conn: @conn,
                        action: admin_status_page_incident_path(@conn, :create, @subdomain), services: @services %>
