<h3 class="text-center">Edit incident update</h3>

<%= render "form.html", changeset: @changeset, activity_types: @activity_types, conn: @conn,
                        action: admin_status_page_incident_activity_path(@conn, :update, @subdomain, @incident_id, @incident_activity) %>
