<b><%= @page.name %> status update</b>

<p>
  <%= Statushq.SPM.Incident.types[@incident.type] %>: <%= @incident.title %>
</p>

<p>
  Affected services: <%= @incident.services |> Enum.map(&(&1.name)) |> Enum.join(", ") %>.
</p>

<p>
  <b>[<%= @activity.activity_type.name %>]:</b> <%= @activity.description %>
</p>

<%= link "Incident in Statuspal",
  to: StatusPageView.sd(status_page_incident_url(@conn, :show, @page, @incident), @page)
%>
