<b><%= @page.name %> status update</b>

<p>
  <%= Statushq.SPM.Incident.types[@incident.type] %>
  (Affecting services: <%= @incident.services |> Enum.map(&(&1.name)) |> Enum.join(", ") %>):
  <%= @incident.title %>
</p>

<p>
  <b>[<%= @activity.activity_type.name %>]:</b> <%= @activity.description %>
</p>

<%= link "Incident link",
  to: StatusPageView.sd(status_page_incident_path(@conn, :show, @page, @incident), @page)
%>
