<footer class="footer">
  <div class="container">
    <div class="links">
      <a href="mailto:contact@statuspal.io">Contact</a>
      <a href="https://statuspal.io">Statuspal.io</a>
      <a href="https://github.com/messutied/statushq">Github</a>
      <a href="https://meta.statuspal.io">Status</a>
    </div>
    <div class="copyright">
      © Status 2018 Statuspal
    </div>
  </div>
</footer>
